.tab-container{
    margin-top: 20px;
}

.button-wrapper{
    max-width: 320px;
    margin-left: 10px;
}

.from-group{
    margin-bottom: 10px;
}

.field-wrapper{
    max-width: 410px;
    margin-left: 10px;
}